<!DOCTYPE html>
html(lang="en")
   head
      //-en la etiqueta head todos nuestros metadatos.
      meta(charset="UTF-8")
      title plantilla base
   body
      //-Con los bloques estamos indicando que habra un trozo de código pendiente
      //-desde otro archivo .jade
      block body
      footer
         block footer
